<section class="articles">
  <div class="flex flex--center">

    <div class="col-50">
      <div class="article-wrap">
        {% include content/articles.html%}

      </div>
    </div>
    <div class="col-50 flex flex--center order-first">
      <div class="col-1">
        <div class="desc-wrap">
          <p class="home-lead outdented">
            ...Writing and designing articles...
          </p>
          <a href="" class="home-cta">See all Articles</a>
        </div>
      </div>
    </div>
  </div>
</section>
