        <a href="" class="article-thumb"
        style="background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTi4YJyg3HrsV8kXKcnszgC0auJoKSZqjAkj9HK77U1OC9BJ4qz)">
          
          <div class="article-meta">
              <div class="name"> Article Name
              </div>
              <div class="date"> Dec 10, 1982
              </div>
          </div>
          
        </a>        
        
        <a href="" class="article-thumb">
          
          <div class="article-meta">
              <div class="name"> Article Name
              </div>
              <div class="date"> Dec 10, 1982
              </div>
          </div>
          
        </a>        
        
        <a href="" class="article-thumb"
        style="background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTi4YJyg3HrsV8kXKcnszgC0auJoKSZqjAkj9HK77U1OC9BJ4qz)">
          
          <div class="article-meta">
              <div class="name"> Article Name
              </div>
              <div class="date"> Dec 10, 1982
              </div>
          </div>
          
        </a>        
        
        <a href="" class="article-thumb">
          
          <div class="article-meta">
              <div class="name"> Article Name
              </div>
              <div class="date"> Dec 10, 1982
              </div>
          </div>
          
        </a>       
        
        <a href="" class="article-thumb">
          
          <div class="article-meta">
              <div class="name"> Article Name
              </div>
              <div class="date"> Dec 10, 1982
              </div>
          </div>
          
        </a>        
        
        <a href="" class="article-thumb"
        style="background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTi4YJyg3HrsV8kXKcnszgC0auJoKSZqjAkj9HK77U1OC9BJ4qz)">
          
          <div class="article-meta">
              <div class="name"> Article Name
              </div>
              <div class="date"> Dec 10, 1982
              </div>
          </div>
          
        </a>        
        
        <a href="" class="article-thumb">
          
          <div class="article-meta">
              <div class="name"> Article Name
              </div>
              <div class="date"> Dec 10, 1982
              </div>
          </div>
          
        </a>        
        
        <a href="" class="article-thumb">
          
          <div class="article-meta">
              <div class="name"> Article Name
              </div>
              <div class="date"> Dec 10, 1982
              </div>
          </div>
          
        </a>        
        
        <a href="" class="article-thumb">
          
          <div class="article-meta">
              <div class="name"> Article Name
              </div>
              <div class="date"> Dec 10, 1982
              </div>
          </div>
          
        </a>       
        
        <a href="" class="article-thumb">
          
          <div class="article-meta">
              <div class="name"> Article Name
              </div>
              <div class="date"> Dec 10, 1982
              </div>
          </div>
          
        </a>        
        
        <a href="" class="article-thumb">
          
          <div class="article-meta">
              <div class="name"> Article Name
              </div>
              <div class="date"> Dec 10, 1982
              </div>
          </div>
          
        </a>        
        
        <a href="" class="article-thumb">
          
          <div class="article-meta">
              <div class="name"> Article Name
              </div>
              <div class="date"> Dec 10, 1982
              </div>
          </div>
          
        </a>